body {
    display: block;
    margin: 8px;
    background-color: antiquewhite;
}
.topMenu {
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 100%;
    white-space: nowrap;
}

.topMenuElem {
    height: auto;
    display: inline-block;
    width: 30%;

}

#login {
    text-align: right;
}

#idField {
    width: 64px;
    border-bottom-style: solid;
    border-right-style: solid;
    border-width: 1px;
}

img {
    max-width: 160px;
    height:auto;
}

.thread {
    width: 100%;
}
.post {
    border-style: solid;
    border-width: 1px;
    background-color: rgb(230, 200, 104);
}

.postTopBarElem {
    display: inline-block;
}

.postContentElem {
    display: inline-block;
}

.comments {
    margin-left: 3em;
}

.pageButton {
    display: inline-block;
}
