body {
    display: block;
    margin: 8px;
    background-color: antiquewhite;
}
.topMenu {
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 100%;
    white-space: nowrap;
    background-color: bisque;
}
.login{
    text-align: right;
}
.thread {
    width: 100%;
}
.post {
    border-style: solid;
    border-width: 1px;
    background-color: burlywood;
}
.comments {
    margin-left: 3em;
}
.pageList {
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
} 
.pageList > li {
    display: inline-block;
}